{% for studio in uniqueStudios | sort() %}

<div class="panel panel-default barchart-panel hidden" id="barchart-{{studio}}">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Top 5 Instructors per Studio
        <div class="pull-right" style="margin-top: -6px;">
            <div class="btn-group">
                <button type="button" class="btn btn-outline btn-default dropdown-toggle" data-toggle="dropdown">
                    {{studio}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                      {% for s in uniqueStudios | sort() %}
                        <li>
                          <a href="#" id="top-instructor-chart-{{s}}">{{s}}</a>
                          <!-- <button id="top-instructor-chart-{{s}}">{{s}}</button> -->
                        </li>
                      {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div id="instructor-bar-chart-{{studio}}"></div>
            </div>
            <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>

<script>

    //toggle dropdown


    $("#top-instructor-chart-{{studio}}").click(function(ev, value){
      var dropdownSelect = this;
      console.log(dropdownSelect);

      $('.barchart-panel').each(function(index, value) {
        var barchartPanel = this;
        console.log(barchartPanel);
        // $(barchartPanel).addClass('hidden');
      });

      // $("#barchart-{{studio}}").removeClass("hidden");
      // $("#barchart-{{studio}}").addClass("show");

      ev.preventDefault();
      ev.stopPropagation();
    });

    // Create the bar chart
    Highcharts.chart('instructor-bar-chart-{{studio}}', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 5 {{studio}} Instructors in May 2017'
        },
        subtitle: {
            text: 'Click the columns to view classes.'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Number of Sessions'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> sessions<br/>'
        },

        series: [{
            name: 'Instructors',
            colorByPoint: true,
            data: [{
                name: 'Greg',
                y: 96,
                drilldown: 'Greg'
            }, {
                name: 'Rexx',
                y: 83,
                drilldown: 'Rexx'
            }, {
                name: 'Julie',
                y: 64,
                drilldown: 'Julie'
            }, {
                name: 'Joe',
                y: 42,
                drilldown: 'Joe'
            }, {
                name: 'Frank',
                y: 12,
                drilldown: 'Frank'
            }]
        }],
        drilldown: {
            series: [{
                name: 'Greg',
                id: 'Greg',
                data: [
                    [
                        'Session 1',
                        24.13
                    ],
                    [
                        'Session 2',
                        17.2
                    ],
                    [
                        'v9.0',
                        8.11
                    ],
                    [
                        'v10.0',
                        5.33
                    ],
                    [
                        'v6.0',
                        1.06
                    ],
                    [
                        'v7.0',
                        0.5
                    ]
                ]
            }, {
                name: 'Rexx',
                id: 'Rexx',
                data: [
                    [
                        'v40.0',
                        5
                    ],
                    [
                        'v41.0',
                        4.32
                    ],
                    [
                        'v42.0',
                        3.68
                    ],
                    [
                        'v39.0',
                        2.96
                    ],
                    [
                        'v36.0',
                        2.53
                    ],
                    [
                        'v43.0',
                        1.45
                    ],
                    [
                        'v31.0',
                        1.24
                    ],
                    [
                        'v35.0',
                        0.85
                    ],
                    [
                        'v38.0',
                        0.6
                    ],
                    [
                        'v32.0',
                        0.55
                    ],
                    [
                        'v37.0',
                        0.38
                    ],
                    [
                        'v33.0',
                        0.19
                    ],
                    [
                        'v34.0',
                        0.14
                    ],
                    [
                        'v30.0',
                        0.14
                    ]
                ]
            }, {
                name: 'Julie',
                id: 'Julie',
                data: [
                    [
                        'v35',
                        2.76
                    ],
                    [
                        'v36',
                        2.32
                    ],
                    [
                        'v37',
                        2.31
                    ],
                    [
                        'v34',
                        1.27
                    ],
                    [
                        'v38',
                        1.02
                    ],
                    [
                        'v31',
                        0.33
                    ],
                    [
                        'v33',
                        0.22
                    ],
                    [
                        'v32',
                        0.15
                    ]
                ]
            }, {
                name: 'Joe',
                id: 'Joe',
                data: [
                    [
                        'v8.0',
                        2.56
                    ],
                    [
                        'v7.1',
                        0.77
                    ],
                    [
                        'v5.1',
                        0.42
                    ],
                    [
                        'v5.0',
                        0.3
                    ],
                    [
                        'v6.1',
                        0.29
                    ],
                    [
                        'v7.0',
                        0.26
                    ],
                    [
                        'v6.2',
                        0.17
                    ]
                ]
            }, {
                name: 'Frank',
                id: 'Frank',
                data: [
                    [
                        'v12.x',
                        0.34
                    ],
                    [
                        'v28',
                        0.24
                    ],
                    [
                        'v27',
                        0.17
                    ],
                    [
                        'v29',
                        0.16
                    ]
                ]
            }]
        }
    });
</script>
{% endfor %}
