{% for studio in uniqueStudios | sort() %}

<div class="panel panel-default barchart-panel hidden" id="barchart-{{studio}}">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Top 5 Instructors per Studio
        <div class="pull-right" style="margin-top: -6px;">
            <div class="btn-group">
                <button type="button" class="btn btn-outline btn-default dropdown-toggle" data-toggle="dropdown">
                    {{studio}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                      {% for s in uniqueStudios | sort() %}
                        <li>
                          <a href="#" class="dropdown-instructor-chart" id="top-instructor-chart-{{s}}">{{s}}</a>
                          <!-- <button id="top-instructor-chart-{{s}}">{{s}}</button> -->
                        </li>
                      {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div id="instructor-bar-chart-{{studio}}"></div>
            </div>
            <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>

<script>

    // Create the bar chart
    Highcharts.chart('instructor-bar-chart-{{studio}}', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 5 {{studio}} Instructors in May 2017'
        },
        subtitle: {
            text: 'Click the columns to view classes.'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Number of Sessions'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.teacher}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.teacher}</span>: <b>{point.y}</b> sessions<br/>'
        },
        series: [{
            name: 'Instructors',
            colorByPoint: true,
              data: [
                  {% for top in topInstructors if top['studio'] == studio %}
                    {
                      name: '{{ top['teacher'] }}',
                      y: {{ top['totalsessions'] }},
                      drilldown: '{{ top['drilldown'] }}'
                    }{% if not loop.last %},{% endif %}
                  {% endfor %}
                ]
        }],
        drilldown: {
          //for d in topFiveTeachersClassesPerStudio if d['studio'] == studio
            series: [

              {% for top in topInstructors if top['studio'] == studio %}
                {
                  name: '{{ top['teacher'] }}',
                  id: '{{ top['teacher'] }}',
                  studio: '{{ top['studio'] }}',
                  data: [
                    //for session in sessions if session['teacher'] == top['teacher'] and session['studio'] == top['studio']
                    ['Flow', 12],
                    //endfor
                  ]

                }{% if not loop.last %},{% endif %}
              {% endfor %}



            //   {
            //     name: 'Greg',
            //     id: 'Greg',
            //     studio: 'Something',
            //     data: [
            //         [
            //             'Session 1',
            //             24.13
            //         ],
            //         [
            //             'Session 2',
            //             17.2
            //         ],
            //         [
            //             'Session 3',
            //             8.11
            //         ],
            //         [
            //             'Session 4',
            //             5.33
            //         ],
            //         [
            //             'Session 5',
            //             1.06
            //         ],
            //         [
            //             'Session 6',
            //             0.5
            //         ]
            //     ]
            // }
          ]
            //endfor
        }
    });
</script>
{% endfor %}
