<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

    {% include 'header.html' %}

    <!-- Top content -->
    <div class="top-content">
        <div class="container">

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Yogi<strong>lytics</strong></h1>
                    <div class="description">
                        <p>Get insight into your Yoga studio's performance and keep your top Yogis coming back!</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    <form role="form" action="/submit" method="post" class="f1">

                        <h3>Get Started</h3>
                        <p>Follow the instructions below</p>
                        <div class="f1-steps">
                            <div class="f1-progress">
                                <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="5" style="width: 16.66%;"></div>
                            </div>
                            <div class="f1-step active">
                                <div class="f1-step-icon"><i class="fa fa-upload"></i></div>
                                <p>upload</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="fa fa-hand-pointer-o"></i></div>
                                <p>specify</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="fa fa-line-chart"></i></div>
                                <p>analyze</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="fa fa-pencil"></i></div>
                                <p>draft</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="fa fa-envelope"></i></div>
                                <p>send</p>
                            </div>
                        </div>

                        <fieldset>
                            <h4>Upload your Yoga studio's exported CSV:</h4>

                            <div style="position:relative;">
                                <a class='btn btn-primary' href='javascript:;'>
                          			Choose File...
                          			<input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
                          		</a> &nbsp;
                                <span class='label label-info' id="upload-file-info"></span>
                            </div>

                            <div class="f1-buttons">
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </fieldset>

                        <fieldset>
                            <h4>Select which fields are relevant for analytics. <br> Define columns for customer's names, studios and email based on your upload.</h4>
                            <!-- <div class="form-group">
                                <label class="sr-only" for="f1-email">Email</label>
                                <input type="text" name="f1-email" placeholder="Email..." class="f1-email form-control" id="f1-email">
                            </div> -->
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </fieldset>

                        <fieldset>
                            <h4>Select the top customer's drop off rates by studio.<br> Sort by customers whose last visit is greater than one month ago. Select each customer to include.</h4>
                            <!-- <div class="form-group">
                                <label class="sr-only" for="f1-facebook">Facebook</label>
                                <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                            </div> -->
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </fieldset>

                        <fieldset>
                            <h4>Write up personal "special offer" emails. <br> What you see is what you get editor to include dynamic variables such as customer's name, studio, etc.</h4>
                            <!-- <div class="form-group">
                                <label class="sr-only" for="f1-facebook">Facebook</label>
                                <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                            </div> -->
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </fieldset>

                        <fieldset>
                            <h4>Send personalized emails and track open rate & responses. <br> Select frequency of emails to be sent across all selected customers. </h4>
                            <!-- <div class="form-group">
                                <label class="sr-only" for="f1-facebook">Facebook</label>
                                <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                            </div> -->
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="submit" class="btn btn-next">Send</button>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>

        </div>
    </div>

    {% include 'footer.html' %}

</body>

</html>
