{% include 'head.html' %}


<style>
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    /*width: calc(100% - 0.9em);*/
    width:100%;
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

.preload {
  width:100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index:99999;
}
.hidden {
  display:none;
}
.show {
  display:block!important;
}

</style>

<div class="preload">
  <img src="http://i.imgur.com/KUJoe.gif">
</div>

<body>

    <div id="wrapper">

      {% include 'sidebar.html' %}

        <div id="page-wrapper">
            <div class="row">
              <div style="margin-top: 10px;margin-bottom:0px" class="alert alert-success alert-dismissable">
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                  The <strong>H St Studio</strong> increased 15% of recurring Yogis <a href="#" class="alert-link">Take Action!</a>.
              </div>

                <div class="col-lg-12">
                    <h1 class="page-header">Yogilytics During May 2017</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                  <div class="huge">{{totalSessions}}</div>
                                  <div>Total Sessions!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-book fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Andrea</div>
                                    <div>Top Teacher!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-building-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">H St</div>
                                    <div>Top Studio!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-usd fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                  <div class="huge">{% for p in totalPaidVisits %}{{p.total}}{% endfor %}</div>
                                  <div>Total Paid Visits!</div>

                                </div>
                            </div>
                        </div>
                        <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                  {% include 'barchart.html' %}
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <i class="fa fa-clock-o fa-fw"></i> Total Sessions
                    </div>
                    <div class="panel-body">
                      <div id="morris-donut-chart"></div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                {% include 'datatable.html' %}
              </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <link href="../static/morrisjs/morris.css" rel="stylesheet">
    <link href="../static/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../static/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Morris Charts JavaScript -->
    <script src="../static/raphael/raphael.min.js"></script>
    <script src="../static/morrisjs/morris.min.js"></script>

    <script>
    $('.studio-tabs-table').each(function(index, value) {
      if (index == '0') {
        $(this).addClass( "active" );
      }
    });
    $('.tab-pane').each(function(index, value) {
      if (index == '0') {
        $(this).addClass( "active in");
      }
    });

    //barchart js
    $('.barchart-panel').each(function(index, value) {
      if (index == '0') {
        $(this).removeClass( "hidden");
      }
    });

    $(function() {

        Morris.Donut({
            element: 'morris-donut-chart',
            data: [{
                label: "Bloomingdale",
                value: 42
            },
            {
                label: "Eye",
                value: 223
            },
            {
                label: "Coheights",
                value: 123
            },
            {
                label: "Dupont",
                value: 270
            },
            {
                label: "Glover",
                value: 125
            },  {
                label: "H",
                value: 52
            }],
            resize: true
        });

    });


    // console.log('''{% for s in uniqueStudios  | sort() %}{% for q in query if q.Studio == s %}s{{q.Studio}}{% endfor %}{% endfor %}''');

    </script>




</body>

</html>
