<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<style>
    body {
        background: url("../static/img/bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #error {
        font-size: 13px;
        color: red;
    }

    #error-forgot {
        font-size: 13px;
        color: red;
    }

    .hidden {
        display: none;
    }

    .unhidden {
        display: unset !important;
    }

    .disabled-button {
        cursor: not-allowed;
        opacity: .65;
    }
</style>


<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form id="login" action="/login" method="POST" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <!-- <div class="checkbox">
                                    <label>
                                        <a href="#" style="font-size:12px; text-decoration: none" id="forgot-password">Forgot your password?</a>
                                    </label>
                                </div> -->
                                <p id="error"></p>
                                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="forgot-password-row" class="hidden">
            <div class="row">
                <div class="col-md-4 col-md-offset-4" style="margin-top:-6em">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Enter Email</h3>
                        </div>
                        <div class="panel-body">
                            <form class="" id="forgot" action="/forgot-password" method="POST" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" name="email" type="email" autofocus>
                                    </div>
                                    <p id="error-forgot"></p>
                                    <input type="submit" value="Reset Password" class="btn btn-primary btn-large btn-block">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'foot.html' %}

</body>

</html>

<script>
    $("form#login").submit(function(e) {
        var form = this;
        e.preventDefault();
        var formData = $(form).serializeArray();
        $.ajax({
            url: "/login",
            data: formData,
            type: 'POST',
            success: function(response) {
                if (response == 'username') {
                    $('#error').text("Username & password combination invalid!")
                } else if (response == 'password') {
                    $('#error').text("Username & password combination invalid!")
                } else {
                    form.submit();
                }
            }
        });
    });


    $("form#forgot").submit(function(e) {
        var form = this;
        e.preventDefault();
        var formData = $(form).serializeArray();
        $.ajax({
            url: "/forgot-password",
            data: formData,
            type: 'POST',
            success: function(response) {
                if (response == 'error') {
                    $('#error-forgot').text("Email does not exist!");
                } else {
                    $("#reset-button").addClass('disabled-button').prop("disabled", true);
                    form.submit();
                }
            }
        });
    });

    $("#forgot-password").click(function() {
        $('#forgot-password-row').toggleClass('unhidden')
    });
</script>
